@model gunes_ticarett.Models.Entity.tbl_musteri
@{
    ViewBag.Title = "MusteriGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("guncelle", "Musteri", FormMethod.Post))
{
<div class="form-group" >
    @Html.LabelFor(m=>m.musteri_id)
    @Html.TextBoxFor(m=>m.musteri_id,new {@class="form-control" })
    <br />
    @Html.LabelFor(m=>m.musteri_ad)
    @Html.TextBoxFor(m=>m.musteri_ad,new  {@class="form-control" })
    <br />
    @Html.LabelFor(m=>m.musteri_soyad)
    @Html.TextBoxFor(m=>m.musteri_soyad,new  {@class="form-control" })
</div>
<div>
    <button class="btn btn-warning">MÜŞTERİ GÜNCELLE</button>
</div>
}

